<?define name="Revit Plugin Installer"?>
<?define exe="RevitPluginInstaller.exe"?>
<?define path="$(var.RevitPluginInstaller.TargetDir)"?>
<?define silentArgs= "/VERYSILENT /NORESTART /SUPPRESSMSGBOXES /MERGETASKS=!runcode"?>
<?define version="1.0.0"?>
<?define publisher="Invute"?>
<?define guid="53bd6b32-7d0b-487b-a1df-5484f88d7082"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product
        Id="*"
        Name="$(var.name)"
        Language="1033"
        Version="$(var.version)"
        Manufacturer="$(var.publisher)"
        UpgradeCode="$(var.guid)">

		<Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine"
            Platform="x64"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Revit Plugin Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<CustomAction
            Id="run_exe"
            Return="asyncWait"
            Execute="commit"
            ExeCommand="$(var.silentArgs)"
            FileKey="executable" />

		<InstallExecuteSequence>
			<Custom Action="run_exe" After="InstallFiles">NOT Installed</Custom>
		</InstallExecuteSequence>

	</Product>

	<Fragment>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="$(var.name)" />
			</Directory>
		</Directory>

	</Fragment>

	<Fragment>

		<!-- Включение всех файлов из папки net8.0-windows -->
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="198d1270-3eae-4f2c-ad00-f62c1c25e5eb" Win64="yes">
				<File Id="executable" Name="RevitPluginInstaller.exe" Source="$(var.path)\RevitPluginInstaller.exe" KeyPath="yes" />
				<File Id="MaterialIconsDll" Name="Material.Icons.dll" Source="$(var.path)\Material.Icons.dll" />
				<File Id="MaterialIconsWpfDll" Name="Material.Icons.WPF.dll" Source="$(var.path)\Material.Icons.WPF.dll" />
				<File Id="MicrosoftExtDIAbstractionsDll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.path)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
				<File Id="MicrosoftExtDIDll" Name="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.path)\Microsoft.Extensions.DependencyInjection.dll" />
				<File Id="NewtonsoftJsonDll" Name="Newtonsoft.Json.dll" Source="$(var.path)\Newtonsoft.Json.dll" />
				<File Id="DepsJson" Name="RevitPluginInstaller.deps.json" Source="$(var.path)\RevitPluginInstaller.deps.json" />
				<File Id="RuntimeConfigJson" Name="RevitPluginInstaller.runtimeconfig.json" Source="$(var.path)\RevitPluginInstaller.runtimeconfig.json" />
				<File Id="PdbFile" Name="RevitPluginInstaller.pdb" Source="$(var.path)\RevitPluginInstaller.pdb" />
			</Component>
		</ComponentGroup>

	</Fragment>

	<!-- Добавление компонента для удаления файлов -->
	<Fragment>

		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="RemoveRevitPlugin" Guid="6508c4a2-e531-4bee-9441-5508f568d0b7" KeyPath="yes">
				<RemoveFile Id="RemoveRevitPluginFiles" Name="*" On="uninstall" />
			</Component>
		</DirectoryRef>

	</Fragment>

	<!-- Скрипт для проверки наличия Autodesk Revit -->
	<Fragment>

		<CustomAction
            Id="CheckForRevit"
            BinaryKey="CheckForRevitBin"
            DllEntry="CheckForRevit"
            Execute="immediate"
            Return="check" />

		<InstallExecuteSequence>
			<Custom Action="CheckForRevit" Before="InstallInitialize">NOT Installed</Custom>
		</InstallExecuteSequence>

	</Fragment>
</Wix>
