<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product Id="*" Name="RevitPluginInstaller.Setup" Language="1033" Version="1.0.0.0" Manufacturer="RevitPluginInstaller" UpgradeCode="20d8e368-4d93-41ca-901c-2191db0310ec">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="RevitPluginInstaller.Setup" Level="1">

			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="DesktopFolderShortcut" />

		</Feature>

	</Product>

	<Fragment>

		<Directory Id="TARGETDIR" Name="SourceDir">

			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="RevitPluginInstaller.Setup" />
			</Directory>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="RevitPluginInstaller" />
			</Directory>

			<Directory Id="ProgramDesktopFolder" Name="Desktop" />

		</Directory>

		<DirectoryRef Id="ApplicationProgramsFolder">

			<Component Id="ApplicationShortcut" Guid="4e1ca5ac-f995-47fb-b8d5-d8ceeefeee11">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="RevitPluginInstaller" Target="[#ProductComponent]" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="CleanUpShortCup" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\RevitPluginInstaller" KeyPath="yes" Type="integer" Value="1" Name="revitplugininstaller" />
			</Component>

		</DirectoryRef>

		<DirectoryRef Id="ProgramDesktopFolder">

			<Component Id="DesktopFolderShortcut" Guid="7a2161ef-ce3b-43d4-9ca1-3622c826dba4">
				<Shortcut Id="DesktopShortcut" Name="RevitPluginInstaller" Target="[#ProductComponent]" WorkingDirectory="INSTALLFOLDER" />
				<RegistryValue Root="HKCU" Key="Software\RevitPluginInstaller" KeyPath="yes" Type="integer" Value="1" Name="revitplugininstaller" />
			</Component>

		</DirectoryRef>

	</Fragment>

	<Fragment>

		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->

			<Component Id="ProductComponent">
				<File Id="ProductComponent" Source="$(var.RevitPluginInstaller.TargetPath)" />
			</Component>

		</ComponentGroup>

	</Fragment>

</Wix>
